<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>apk-news | Disclaimer</title>
    <meta name="description" content="apk-news | Disclaimer">
    <link rel="canonical" href="https://apk-news.com/disclaimer" />
    <%- include('../partials/head.ejs'); %>
        <%- include('../partials/css.ejs'); %>
</head>


<body>
    <%- include('../partials/header_nav.ejs'); %>

        <div class="area">

            <br>
            <!--meaning output section-->
            <div class="main">


                <div class="othersite outputs">
                    
                    <div class="inside-article">
                        <h1>Copyright</h1>
                        <div class="entry-content" itemprop="text">
                        <div class="code-block code-block-1" style="margin: 8px auto; text-align: center; display: block; clear: both;">
                        </div><br>

                        <h2 class="wp-block-heading"><span id="Copyright_Holders">Copyright Holders</span></h2>
                        <p>In accordance with the DMCA, <a href="https://apk-news.com/">apk-news.com</a> site does not host materials, copyright, and related rights (including the right to distribution) belonging to other persons or entities. If the material has been posted on the site, the right holder has the right to appeal to the administration to resolve this issue.</p>
                        <h3 class="wp-block-heading"><span id="There_are_several_options_for_solving_the_problem">There are several options for solving the problem:</span></h3>
                        <ol>
                        <li>Replacing the existing application, links to the application, provided the copyright. At the same time, it must either be a stripped-down copy of the complete application or a complete application, but with the presence of advertising.</li>
                        <li>A link to the application is replaced by a reference to Google Play, Amazon Appstore, or the official website of the application.</li>
                        <li>Delete all references to the application site. To do this, the right holder will have to confirm their rights to the application hosted on the site.</li>
                        </ol>
                        <h3 class="wp-block-heading"><span id="There_are_several_ways">There are several ways:</span></h3>
                        <ol>
                        <li>Write the administration site with an E-mail, which is listed on the official website of the application, or the company, which is engaged in production applications.</li>
                        <li>Write to the administration of the site via E-mail, which is specified in the application.</li>
                        <li>Submit site administration scanned documents, which confirm the existence of copyright in the application.</li>
                        <li>The official website of the application, or the company, which is engaged in a production application, you must create a .txt file with the name of apk-news.com, then pass a reference to it from the site. To contact the Administration of the site, please write to our address.</li>
                        </ol>
                        <ul>
                        <li><strong>Email:</strong>&nbsp;<a href="mailto:apknews.contactus@gmail.com" target="_blank" rel="noreferrer noopener">apknews.contactus@gmail.com</a></li>
                        </ul>
                        <p>The administration of this site will respond within 24 hours.</p>
                        
                        </div>
                        </div>


                </div>



                <!-- Bonous Section -->



                <!-- below main dev ends -->
            </div>


            <aside>

            </aside>




            <%- include('../partials/footer.ejs'); %>




        </div>


        <script type="text/javascript">
            function toggle() {
                var test = document.getElementById("navbar");
                if (test.className == "hidden") {
                    test.className = "show";
                } else {
                    test.className = "hidden";
                }
            }

        </script>
        <!-- Global site tag (gtag.js) - Google Analytics -->
</body>

</html>