<header>
    <div class="logo">
        <h1> <a href="/">APK News</a> </h1>
    </div>
</header>

<nav>
    <div class="button">
        <p onclick="toggle()">MENUS ︾</p>
    </div>
    <ul id="navbar" class="hidden">
        <li><a href="/gcam-faq" class="active one">GCam FAQ</a></li>
        <li class="dropdown">
            <a href="javascript:void(0)" class="dropbtn">GCam for Android</a>
            <div class="dropdown-content">
              <a href="/huawei">Huawei</a>
              <a href="/nokia">Nokia</a>
              <a href="/sony-xperia">Sony Xperia</a>
              <a href="/lg">LG</a>
              <a href="/htc">HTC</a>
              <a href="/motorola">Motorola</a>
              <a href="/lenovo">Lenovo</a>
              <a href="/xiaomi">Xiaomi</a>
              <a href="/honor">Honor</a>
              <a href="/oppo">Oppo</a>
              <a href="/realme">Realme</a>
              <a href="/oneplus">Oneplus</a>
              <a href="/vivo">Vivo</a>
              <a href="/meizu">Meizu</a>
              <a href="/blackberry">Blackberry</a>
              <a href="/asus">Asus</a>
              <a href="/alcatel">Alcatel</a>
              <a href="/zte">ZTE</a>
              <a href="/vodafone">Vodafone</a>
              <a href="/energizer">Energizer</a>
              <a href="/sharp">Sharp</a>
              <a href="/micromax">Micromax</a>
              <a href="/infinix">Infinix</a>
              <a href="/ulefone">Ulefone</a>
              <a href="/tecno">Tecno</a>
              <a href="/doogee">Doogee</a>
              <a href="/blackview">Blackview</a>
              <a href="/cubot">Cubot</a>
              <a href="/itel">Itel</a>
              <a href="/tcl">TCL</a>
            </div>
          </li>
        <li><a href="/contact" class="active three">Send Feedback</a></li>
    </ul>
</nav>