<header>
    <div class="logo">
        <h1> <a href="/">OurPython</a> </h1>
    </div>
</header>

<nav>
    <div class="button">
        <p onclick="toggle()">MENUS ︾</p>
    </div>
    <ul id="navbar" class="hidden">
        <li><a href="/tag/tensorflow?page=1" class="active one">Data Science</a></li>
        <li><a href="/tag/django?page=1" class="active two">Web Dev</a></li>
        <li><a href="/tag/beautifulsoup?page=1" class="active three">Web Scraping</a></li>
    </ul>
</nav>