<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>apk-news.com | your phone's compatible APKs</title>
    <meta name="description" content="apk-news.com is a website where you will get downloadable APK files like GCam, Google Play Service, and Android Auto for your indivisual phone.">
    <link rel="canonical" href="https://apk-news.com" />
    <%- include('./partials/head.ejs'); %>
        <%- include('./partials/css.ejs'); %>
</head>


<body>
    <%- include('partials/header_nav.ejs'); %>

        <div class="area">
            <div class="word-search">
                <div class="home-page-header-title">
                    Search for the APK.
                </div>
                <form method="get" action="">
                    <label>
                        <input type="text" name="query" id="query" placeholder="Search">
                    </label>
                    <button>Search</button>
                </form>
            </div>


            <!--meaning output section-->
            <div class="main">
                <div class="othersite outputs">
                    <h1>apk-news.com | your phone's compatible APKs</h1>
                    <p>apk-news.com is a website where you will get downloadable APK files like GCam, Google Play Service, and Android Auto for your indivisual phone.</p>

                    <h2>Get Your Preferred Downloadable APK files</h2>
                    <p>apk-news.com helps you get your preferred APK file and updates about new released android application and mod APKs for your indivisual phone.<p>
                    
                    <h2>APKs Based on Android Version</h2>
                    <p>Get the APK file based on your phone's android version. One APK can't be installed on every phone because different phone has different android version.</p>

                    <h2>APKs for All Android Phone Brands</h2>
                    <p>Different brands have different restrictions on installing third-party apps. We provide a specific app that supports the specific brand.</p>
                </div>
                <!-- below main dev ends -->
            </div>


            <aside>
                <div class="box">
                    <div class="head">
                        <h3>Tags</h3>
                    </div>
                    <div class="content">
                        <ul>
                            <li> <a href="/tag/samsung?page=1">Gcam for Samsung</a> </li>
                            <li> <a href="/tag/xiaomi?page=1">Gcam for Xiaomi</a> </li>
                            <li> <a href="/tag/oppo?page=1">Gcam for Oppo</a> </li>
                        </ul>
                    </div>
                </div>
            </aside>
            <%- include('partials/footer.ejs'); %>
        </div>


        <script type="text/javascript">
            function toggle() {
                var test = document.getElementById("navbar");
                if (test.className == "hidden") {
                    test.className = "show";
                } else {
                    test.className = "hidden";
                }
            }
        </script>
        <!-- Global site tag (gtag.js) - Google Analytics -->
</body>

</html>