    <p>Notes:</p>
    <ul>
    <li>To avoid issues when seeing pictures from inside GCam, install the Google Photos app.</li>
    <li>If there's a "config" link next to the file, follow it and see if a config is available for your phone.</li>
    <li>7.3 through 7.6 are small updates. Not all modders released new versions. See the 7.2 section below.</li>
    </ul>
    <ul class="listapks">
    <li><span class="apk urnyx05"></span><strong>Urnyx's 7.3 v2.6:</strong> <a target="_blank" href="https://www.celsoazevedo.com/files/android/google-camera/dev-urnyx05/f/dl0/">GCam_7.3.018_Urnyx05-v2.6.apk</a> (Urnyx05, 2021-11-22, <a target="_blank" href="https://www.celsoazevedo.com/files/android/google-camera/f/configs-urnyx-02/">configs</a>)</li>
    <li><span class="apk arnova"></span><strong>Arnova's 7.4 Beta:</strong> <a target="_blank" href="https://www.celsoazevedo.com/files/android/google-camera/f/changelog1434/">GCam_5.2beta3.201006.2045build-7.4.104.apk</a> (Arnova8G2, 2020-10-08, <a target="_blank" href="https://www.celsoazevedo.com/files/android/google-camera/f/configs-arnova-06/">configs</a>)</li>
    <li id="apk1622"><span class="apk bsg"></span><strong>BSG's 7.4 v0a:</strong> <a target="_blank" href="https://www.celsoazevedo.com/files/android/google-camera/f/changelog1214/">MGC_7.4.104_V0a.apk</a> (BSG, 2020-02-16)</li>
    <li><span class="apk Nikita"></span><strong>Nikita's 7.4 v2.0:</strong> <a target="_blank" href="https://www.celsoazevedo.com/files/android/google-camera/f/changelog1497/">NGCam_7.4.104-v2.0</a> (Nikita, 2020-12-06, <a target="_blank" href="https://www.celsoazevedo.com/files/android/google-camera/f/configs-nikita-05/">configs</a>)</li>
    <li><span class="apk Wichaya"></span><strong>Wichaya 7.3 v 3.1.1:</strong> <a target="_blank" href="https://www.celsoazevedo.com/files/android/google-camera/f/changelog1501/">GCam_7.3.018_Urnyx05-v2.1_Wichaya_V3.1.1.apk</a> (Wichaya, 2020-12-15, <a target="_blank" href="https://www.celsoazevedo.com/files/android/google-camera/f/configs-wichaya-03/">configs</a>)</li>
    <li id="apk1602"><span class="apk greatness"></span><strong>Greatness 7.3 v2.3:</strong> <a target="_blank" href="https://www.celsoazevedo.com/files/android/google-camera/f/changelog1492/">Gcam7.3.018_Greatness.Build2.3.apk</a> (Greatness, 2020-11-29, <a target="_blank" href="https://www.celsoazevedo.com/files/android/google-camera/f/configs-greatness-01/">configs</a>)</li>
    </ul>
    <p>Other important versions:</p>
    <ul class="listapks">
    <li id="apk1488"><span class="apk wyroczen"></span><strong>wyroczen's 7.3 v2:</strong> <a target="_blank" href="https://f.celsoazevedo.com/file/cfiles/gcm1/GCam_RN8P_Wyroczen_7.3.020_2.0.apk">GCam_RN8P_Wyroczen_7.3.020_2.0.apk</a> (wyroczen, 2020-03-27, <span class="apknote">redmi note 8 pro / mediatek</span>, <a target="_blank" href="https://www.celsoazevedo.com/files/android/google-camera/f/configs-wyroczen-03/">configs</a>, <a target="_blank" href="https://www.celsoazevedo.com/files/android/google-camera/f/changelog1078/">changelog</a>)</li>
    <li><span class="apk zoran"></span><strong>Zoran's 7.4:</strong> <a target="_blank" href="https://www.celsoazevedo.com/files/android/google-camera/f/changelog1340a/">ZGCAM_7.4_V1.03387.apk</a> (zoran, 2020-11-09, <span class="apknote">exynos</span>)</li>
    <li id="apk1634"><span class="apk the_dise"></span><strong>the_dise's v4.5:</strong> <a target="_blank" href="https://f.celsoazevedo.com/file/cfiles/gcm1/DMGC_7.3.020_ver.4.5.apk">DMGC_7.3.020_ver.4.5.apk</a> (the_dise, 2020-06-24, <a target="_blank" href="https://www.celsoazevedo.com/files/android/google-camera/f/changelog1227/">changelog</a>)</li>
    <li id="apk1489"><span class="apk san1ty"></span><strong>San1ty's Sv10.6.2b:</strong> <a target="_blank" href="https://f.celsoazevedo.com/file/cfiles/gcm1/PocoSv10.6.2b.apk">PocoSv10.6.2b.apk</a> (san1ty, 2020-03-27, <span class="apknote">poco x2</span>, <a target="_blank" href="https://www.celsoazevedo.com/files/android/google-camera/f/changelog1077/">changelog</a>)</li>
    <li id="apk1470"><span class="apk san1ty"></span><strong>San1ty's Sv10.4:</strong> <a target="_blank" href="https://f.celsoazevedo.com/file/cfiles/gcm1/PocoSv10.4.apk">PocoSv10.4.apk</a> (san1ty, 2020-03-18, <span class="apknote">poco f1</span>, <a target="_blank" href="https://www.celsoazevedo.com/files/android/google-camera/f/changelog1057/">changelog</a>)</li>
    </ul>
<br>
    <p><b>Other Sections:</b></p>
    <details class="details1 details3">
        <summary>Google Camera 7.2 <small>(Android 9+)</small> »</summary>
        <p>Note: If there's a "config" link next to the file, follow it and see if a config is available for your phone.</p>
        <ul class="listapks">
        <li id="apk1429"><span class="apk urnyx05"></span><strong>Urnyx's 2.3</strong>: <a target="_blank" href="https://f.celsoazevedo.com/file/cfiles/gcm1/GCam_7.2.010_Urnyx05-v2.3.apk">GCam_7.2.010_Urnyx05-v2.3.apk</a> (Urnyx05, 2020-02-19, <a target="_blank" href="https://www.celsoazevedo.com/files/android/google-camera/f/configs-urnyx-01/">configs</a>, <a target="_blank" href="https://www.celsoazevedo.com/files/android/google-camera/f/changelog1016/">changelog</a>)</li>
        <li id="apk1369"><span class="apk arnova"></span><strong>Arnova's Beta 6</strong>: <a target="_blank" href="https://f.celsoazevedo.com/file/cfiles/gcm1/GCam_5beta6.200105.0445build-7.2.018.apk">GCam_5beta6.200105.0445build-7.2.018.apk</a> (Arnova8G2, 2020-01-06, <a target="_blank" href="https://www.celsoazevedo.com/files/android/google-camera/f/configs-arnova-03/">configs</a>, <a target="_blank" href="https://www.celsoazevedo.com/files/android/google-camera/f/changelog955/">changelog</a>)</li>
        <li id="apk1324"><span class="apk bsg"></span><strong>BSG's V0b</strong>: <a target="_blank" href="https://f.celsoazevedo.com/file/cfiles/gcm1/MGC_7.2.018_RPII.MiVIII_V0b.apk">MGC_7.2.018_RPII.MiVIII_V0b.apk</a> (BSG, 2019-12-21, <a target="_blank" href="https://www.celsoazevedo.com/files/android/google-camera/f/changelog909/">changelog</a>)</li>
        <li id="apk1428"><span class="apk san1ty"></span><strong>Sanity's 2.1</strong>: <a target="_blank" href="https://f.celsoazevedo.com/file/cfiles/gcm1/F1MinimalMod2.1.apk">F1MinimalMod2.1.apk</a> (san1ty, 2020-02-17, <span class="apknote">poco f1, mi8, mix2s, mix 3</span>, <a target="_blank" href="https://www.celsoazevedo.com/files/android/google-camera/f/changelog1015/">changelog</a>)</li>
        <li id="apk1811"><span class="apk cstark27"></span><strong>cstark's PXv4.5:</strong> <a target="_blank" href="https://www.celsoazevedo.com/files/android/google-camera/f/changelog1330/">PXv4.5_GoogleCamera_7.2.014.apk</a> (cstark27, 2020-09-04, <span class="apknote">pixel</span>)</li>
        <li id="apk1420"><span class="apk the_dise"></span><strong>the_dise's v3.15</strong>: <a target="_blank" href="https://f.celsoazevedo.com/file/cfiles/gcm1/DMGC_7.2.018_ver.3.15.apk">DMGC_7.2.018_ver.3.15.apk</a> (the_dise, 2020-02-15, <a target="_blank" href="https://www.celsoazevedo.com/files/android/google-camera/f/changelog1007/">changelog</a>)</li>
        </ul>
        </details>

        <details class="details1 details3">
            <summary>Google Camera 6.2/6.3 <small>(Android 9+)</small> »</summary>
            <ul>
            <li>On some phones, GCam 6.x doesn't work on Android 10 or newer. Use GCam 7+.</li>
            </ul>
            <ul class="listapks">
            <li id="apk1024"><span class="apk arnova"></span><strong>Arnova's 6.2.030 v2.2</strong>: <a target="_blank" href="https://f.celsoazevedo.com/file/cfiles/gcm1/Gcam_6.2.030_Advanced_V2.2.190716.1800-Final.apk">Gcam_6.2.030_Advanced_V2.2.190716.1800-Final.apk</a> (Arnova8G2, 2019-07-16, <a target="_blank" href="https://www.celsoazevedo.com/files/android/google-camera/f/changelog593/">changelog</a>)</li>
            <li id="apk982"><span class="apk bsg"></span><strong>BSG's RP2 V5</strong>: <a target="_blank" href="https://f.celsoazevedo.com/file/cfiles/gcm1/MGC_6.2.030_RazerPhone2_V5.apk">MGC_6.2.030_RazerPhone2_V5.apk</a> (BSG, 2019-06-26, <a target="_blank" href="https://www.celsoazevedo.com/files/android/google-camera/f/changelog562/">changelog</a>)</li>
            <li id="apk967"><span class="apk bsg"></span><strong>BSG's MI9SE V4_P2</strong>: <a target="_blank" href="https://f.celsoazevedo.com/file/cfiles/gcm1/MGC_6.2.030_MI9SE_V4_plus2.apk">MGC_6.2.030_MI9SE_V4_plus2.apk</a> (BSG, 2019-06-22, <a target="_blank" href="https://www.celsoazevedo.com/files/android/google-camera/f/changelog547/">changelog</a>)</li>
            <li id="apk1181"><span class="apk urnyx05"></span><strong>Urnyx's 2.5</strong>: <a target="_blank" href="https://f.celsoazevedo.com/file/cfiles/gcm1/GCam-6.2.030_Arnova8G2_Urnyx05-v2.5.apk">GCam-6.2.030_Arnova8G2_Urnyx05-v2.5.apk</a> (Urnyx05, 2019-09-20, <a target="_blank" href="https://www.celsoazevedo.com/files/android/google-camera/f/changelog766/">changelog</a>)</li>
            <li id="apk1089"><span class="apk san1ty"></span><strong>San1ty's F1v9.5</strong>: <a target="_blank" href="https://f.celsoazevedo.com/file/cfiles/gcm1/F1v9.5_6.2.030.apk">F1v9.5_6.2.030.apk</a> (san1ty, 2019-08-16, <a target="_blank" href="https://www.celsoazevedo.com/files/android/google-camera/f/changelog657/">changelog</a>)</li>
            <li id="apk1122"><span class="apk arnova"></span><strong>Savitar's 2l</strong>: <a target="_blank" href="https://f.celsoazevedo.com/file/cfiles/gcm1/sav2l-sign_plus.apk">sav2l-sign_plus.apk</a> (Arnova8G2/Savitar, 2019-09-07, <a target="_blank" href="https://www.celsoazevedo.com/files/android/google-camera/f/changelog694/">changelog</a>)</li>
            <li id="apk991"><span class="apk the_dise"></span><strong>the_dise's v1.6:</strong> <a target="_blank" href="https://f.celsoazevedo.com/file/cfiles/gcm1/DMGC_6.2.030_ver.1.6-PE.apk">DMGC_6.2.030_ver.1.6-PE.apk</a> (the_dise, 2019-07-01, <a target="_blank" href="https://www.celsoazevedo.com/files/android/google-camera/f/changelog568/">changelog</a>)</li>
            </ul>
            </details>