
    <p><strong>Note:</strong> Google Play Protect might warn you about very old apps. Just click "More Details" and "install anyway" if you see the warning.</p>
    <br>
    <strong>GCam Apk download links: </strong>
    <ul class="listapks">
    <li><span class="apk bsg"></span><a target="_blank" href="https://www.celsoazevedo.com/files/android/google-camera/dev-bsg/f/dl158/">Download GCam MGC_3.2.045_A6-A13_32-64_V7</a> (BSG, 2023-07-26, <span class="apknote">android 6+</span>, <span class="apknote">32+64bit</span>)</li>
    <li><span class="apk bsg"></span><a target="_blank" href="https://www.celsoazevedo.com/files/android/google-camera/dev-bsg/f/dl142/">Download GCam MGC_3.2.045_A6-A13_32-64_V0</a> (BSG, 2023-05-24, <span class="apknote">android 6+</span>, <span class="apknote">32+64bit</span>)</li>
    </ul>
