    <p>Notes:</p>
    <ul>
    <li>To avoid issues when seeing pictures from inside GCam, install the Google Photos app.</li>
    <li>If there's a "config" link next to the file, follow it and see if a config is available for your phone.</li>
    <li>Some releases have more than one apk. When in doubt, install the first one. (<a target="_blank" href="https://www.celsoazevedo.com/files/android/google-camera/troubleshooting/#help52">learn more here</a>)</li>
    </ul>
    <ul>
    <li><span class="apk bsg"></span><strong>BSG 8.9:</strong> <a target="_blank" href="https://www.celsoazevedo.com/files/android/google-camera/dev-bsg/f/dl197/">MGC_8.9.097_A11_V25</a> (BSG, 2024-02-28, <a target="_blank" href="https://www.celsoazevedo.com/files/android/google-camera/f/configs-bsg-05/">configs</a>, <span class="apknote">android 11+</span>)</li>
    <li><span class="apk bsg"></span><strong>BSG 8.8:</strong> <a target="_blank" href="https://www.celsoazevedo.com/files/android/google-camera/dev-bsg/f/dl175/">MGC_8.8.224_A11_V14a</a> (BSG, 2023-11-14, <a target="_blank" href="https://www.celsoazevedo.com/files/android/google-camera/f/configs-bsg-04/">configs</a>, <span class="apknote">android 11+</span>)</li>
    <li><span class="apk BigKaka"></span><strong>BigKaka 8.8:</strong> <a target="_blank" href="https://www.celsoazevedo.com/files/android/google-camera/dev-BigKaka/f/dl40/">AGC8.8.224_V8.0</a> (BigKaka, 2023-11-15, <a target="_blank" href="https://www.celsoazevedo.com/files/android/google-camera/f/configs-bigkaka-04/">configs</a>)</li>
    <li><span class="apk bsg"></span><strong>BSG 8.7:</strong> <a target="_blank" href="https://www.celsoazevedo.com/files/android/google-camera/dev-bsg/f/dl134/">MGC_8.7.250_A11_V15</a> (BSG, 2023-04-02, <a target="_blank" href="https://www.celsoazevedo.com/files/android/google-camera/f/configs-bsg-03/">configs</a>, <span class="apknote">android 11+</span>)</li>
    <li><span class="apk BigKaka"></span><strong>BigKaka 8.7:</strong> <a target="_blank" href="https://www.celsoazevedo.com/files/android/google-camera/dev-BigKaka/f/dl23/">AGC_8.7.250_V6.0</a> (BigKaka, 2023-05-13, <a target="_blank" href="https://www.celsoazevedo.com/files/android/google-camera/f/configs-bigkaka-03/">configs</a>)</li>
    <li><span class="apk arnova"></span><strong>Arnova 8.7:</strong> <a target="_blank" href="https://www.celsoazevedo.com/files/android/google-camera/dev-arnova8G2/f/dl7/">Gcam-8.7.250.build-8.3</a> (Arnova8G2, 2023-06-03)</li>
    </ul>
    <p>You may also want to check the following versions.</p>
    <ul class="listapks">
    <li><span class="apk Shamim"></span><strong>Shamim 8.8:</strong> <a target="_blank" href="https://www.celsoazevedo.com/files/android/google-camera/dev-shamim/f/dl60/">SGCAM_8.8.224.10_STABLE_V19</a> (Shamim, 2023-10-29, <a target="_blank" href="https://www.celsoazevedo.com/files/android/google-camera/f/configs-shamim-02/">configs</a>)</li>
    </ul>
