For this Android version there are several working variants of the app. These are maintained by <a target="_blank" href="https://www.celsoazevedo.com/files/android/google-camera/dev-BigKaka/">BigKaka</a>, <a target="_blank" href="https://www.celsoazevedo.com/files/android/google-camera/dev-bsg/">BSG</a> and <a target="_blank" href="https://www.celsoazevedo.com/files/android/google-camera/dev-shamim/">Shamim</a>.</p><br>
<p>Notes:</p>
<ul>
<li>To avoid issues when seeing pictures from inside GCam, install the Google Photos app.</li>
<li>If there's a "config" link next to the file, follow it and see if a config is available for your phone.</li>
<li>Some releases have more than one apk. When in doubt, install the first one. (<a target="_blank" href="https://www.celsoazevedo.com/files/android/google-camera/troubleshooting/#help52">learn more here</a>)</li>
</ul>

<br><p>Here is some GCam APK versions from the developer BigKaka :</p>

<ul>
    <li><span class="apk BigKaka"></span>BigKaka 9.2: <a target="_blank" href="https://www.celsoazevedo.com/files/android/google-camera/dev-BigKaka/f/dl59/">Download GCam AGC9.2.14_V7.0</a> (BigKaka, 2024-04-06, <a target="_blank" href="https://www.celsoazevedo.com/files/android/google-camera/f/configs-bigkaka-07/">configs</a>)</li>


    <li><span class="apk BigKaka"></span>BigKaka 9.1: <a target="_blank" href="https://www.celsoazevedo.com/files/android/google-camera/dev-BigKaka/f/dl55/">Download GCam AGC9.1.24_V14_fix</a> (BigKaka, 2024-03-12, <a target="_blank" href="https://www.celsoazevedo.com/files/android/google-camera/f/configs-bigkaka-05/">configs</a>)</li>

    <li><span class="apk BigKaka"></span>BigKaka 9.0: <a target="_blank" href="https://www.celsoazevedo.com/files/android/google-camera/dev-BigKaka/f/dl35/">Download GCam AGC9.0.37_V1.0</a> (BigKaka, 2023-09-28, <a target="_blank" href="https://www.celsoazevedo.com/files/android/google-camera/f/configs-bigkaka-05/">configs</a>)</li>
    
</ul>

<p><br>Here is some GCam APK versions from the developer BSG :</p>
<ul class="listapks">
    <li><span class="apk bsg"></span><a target="_blank" href="https://www.celsoazevedo.com/files/android/google-camera/dev-bsg/f/dl203/">Download GCam MGC_9.2.113_A11_V3</a> (BSG, 2024-04-06, <span class="apknote">android 11+</span>)</li>
    <li><span class="apk bsg"></span><a target="_blank" href="https://www.celsoazevedo.com/files/android/google-camera/dev-bsg/f/dl202/">Download GCam MGC_9.1.098_A11_15</a> (BSG, 2024-03-30, <a target="_blank" href="https://www.celsoazevedo.com/files/android/google-camera/f/configs-bsg-06/">configs</a>, <span class="apknote">android 11+</span>)</li>
    <li><span class="apk bsg"></span><a target="_blank" href="https://www.celsoazevedo.com/files/android/google-camera/dev-bsg/f/dl201/">Download GCam MGC_9.2.113_A11_V2</a> (BSG, 2024-03-23, <span class="apknote">android 11+</span>)</li>
    <li><span class="apk bsg"></span><a target="_blank" href="https://www.celsoazevedo.com/files/android/google-camera/dev-bsg/f/dl200/">Download GCam MGC_9.1.098_A11_14</a> (BSG, 2024-03-16, <a target="_blank" href="https://www.celsoazevedo.com/files/android/google-camera/f/configs-bsg-06/">configs</a>, <span class="apknote">android 11+</span>)</li>
    <li><span class="apk bsg"></span><a target="_blank" href="https://www.celsoazevedo.com/files/android/google-camera/dev-bsg/f/dl199/">Download GCam MGC_9.2.113_A11_V1</a> (BSG, 2024-03-09, <span class="apknote">android 11+</span>)</li>
    <li><span class="apk bsg"></span><a target="_blank" href="https://www.celsoazevedo.com/files/android/google-camera/dev-bsg/f/dl198/">Download GCam MGC_9.1.098_A11_13</a> (BSG, 2024-03-02, <a target="_blank" href="https://www.celsoazevedo.com/files/android/google-camera/f/configs-bsg-06/">configs</a>, <span class="apknote">android 11+</span>)</li>
    </ul>

    <p><br>Here is some GCam APK versions from the developer Shamim :</p>

    <ul>
    <li><span class="apk Shamim"></span><a target="_blank" href="https://www.celsoazevedo.com/files/android/google-camera/dev-shamim/f/dl53/">Download GCam SGCAM_9.0.115.XX.37_BETA_V4</a> (Shamim, 2023-09-27)</li>
    <li><span class="apk Shamim"></span><a target="_blank" href="https://www.celsoazevedo.com/files/android/google-camera/dev-shamim/f/dl61/">Download GCam SGCAM_9.1.098.24_STABLE_V6</a> (Shamim, 2023-10-31)</li>
    </ul>
    <br>
    <p>
    If you don't see any feature you need, try using GCam 8 from below as they are more stable and feature packed.
    </p>
    <ul>
        <li><span class="apk Shamim"></span><a target="_blank" href="https://www.celsoazevedo.com/files/android/google-camera/dev-shamim/f/dl72/">Download GCam SGCAM_8.5.300.XX.10_STABLE_V10</a> (Shamim, 2024-04-05, <a target="_blank" href="https://www.celsoazevedo.com/files/android/google-camera/f/configs-shamim-04/">configs</a>)</li>
        <li><span class="apk bsg"></span><span class="redb">BSG 8.9:</span> <a target="_blank" href="https://www.celsoazevedo.com/files/android/google-camera/dev-bsg/f/dl197/">Download GCam MGC_8.9.097_A11_V25</a> (BSG, 2024-02-28, <a target="_blank" href="https://www.celsoazevedo.com/files/android/google-camera/f/configs-bsg-05/">configs</a>, <span class="apknote">android 11+</span>)</li>
        <li><span class="apk BigKaka"></span>BigKaka 8.5: <a target="_blank" href="https://www.celsoazevedo.com/files/android/google-camera/dev-BigKaka/f/dl57/">Download GCam AGC8.5.08_V2.0</a> (BigKaka, 2024-03-23, <a target="_blank" href="https://www.celsoazevedo.com/files/android/google-camera/f/configs-bigkaka-06/">configs</a>)</li>
    </ul>