    <p>Notes:</p>
    <ul>
    <li>To avoid issues when seeing pictures from inside GCam, install the Google Photos app.</li>
    <li>If there's a "config" link next to the file, follow it and see if a config is available for your phone.</li>
    <li>Some releases have more than one apk. When in doubt, install the first one. (<a target="_blank" href="https://www.celsoazevedo.com/files/android/google-camera/troubleshooting/#help52">learn more here</a>)</li>
    </ul>
    <ul class="listapks">
    <li><span class="apk bsg"></span><strong>BSG's 8.1:</strong> <a target="_blank" href="https://www.celsoazevedo.com/files/android/google-camera/dev-bsg/f/dl88/">MGC_8.1.101_A9_GV2b</a> (BSG, 2022-05-31, <a target="_blank" href="https://www.celsoazevedo.com/files/android/google-camera/f/configs-bsg-01/">configs</a>)</li>
    <li><span class="apk BigKaka"></span><strong>BigKaka 8.4:</strong> <a target="_blank" href="https://www.celsoazevedo.com/files/android/google-camera/dev-BigKaka/f/dl34/">AGC8.4.300_V9.9</a> (BigKaka, 2023-09-15, <a target="_blank" href="https://www.celsoazevedo.com/files/android/google-camera/f/configs-bigkaka-01/">configs</a>)</li>
    <li><span class="apk hasli"></span><strong>Hasli's 8.4 r18:</strong> <a target="_blank" href="https://www.celsoazevedo.com/files/android/google-camera/dev-hasli/f/dl14/">LMC8.4_R18</a> (Hasli, 2023-06-14, <a target="_blank" href="https://www.celsoazevedo.com/files/android/google-camera/f/configs-hasli-02/">configs</a>)</li>
    <li><span class="apk greatness"></span><strong>Greatness' 8.2:</strong> <a target="_blank" href="https://www.celsoazevedo.com/files/android/google-camera/dev-greatness/f/dl15/">GCam8.2.204_Greatness.230503</a> (Greatness, 2023-05-03, <a target="_blank" href="https://www.celsoazevedo.com/files/android/google-camera/f/configs-greatness-02/">configs</a>)</li>
    <li><span class="apk Nikita"></span><strong>Nikita's 8.2:</strong> <a target="_blank" href="https://www.celsoazevedo.com/files/android/google-camera/dev-Nikita/f/dl13/">NGCam_8.2.300-v1.8</a> (Nikita, 2022-06-05, <a target="_blank" href="https://www.celsoazevedo.com/files/android/google-camera/f/configs-nikita-06/">configs</a>)</li>
    <li><span class="apk Wichaya"></span><strong>Wichaya's 8.1:</strong> <a target="_blank" href="https://www.celsoazevedo.com/files/android/google-camera/dev-wichaya/f/dl6/">GCam_8.1.101_Wichaya_V1.6</a> (Wichaya, 2022-08-12, <a target="_blank" href="https://www.celsoazevedo.com/files/android/google-camera/f/configs-wichaya-04/">configs</a>)</li>
    <li><span class="apk arnova"></span><strong>Arnova's 8.1:</strong> <a target="_blank" href="https://www.celsoazevedo.com/files/android/google-camera/dev-arnova8G2/f/dl2/">Gcam-8.1.101.build-V6.2.211013</a> (Arnova8G2, 2021-10-14, <a target="_blank" href="https://www.celsoazevedo.com/files/android/google-camera/f/configs-arnova-09/">configs</a>)</li>
    <li><span class="apk urnyx05"></span><strong>Urnyx's 8.1:</strong> <a target="_blank" href="https://www.celsoazevedo.com/files/android/google-camera/f/changelog1526/">PXv8.1_GCam-v1.2</a> (cstark27/Urnyx05, 2021-01-25)</li>
    </ul>
    <p>Other important versions:</p>
    <ul class="listapks">
    <li><span class="apk wyroczen"></span><strong>Wyroczen's 8.0:</strong> <a target="_blank" href="https://www.celsoazevedo.com/files/android/google-camera/f/changelog1471/">GoogleCamera_8.0_Wyroczen_Alpha</a> (wyroczen, 2020-11-04, <span class="apknote">mediatek</span>)</li>
    <li><span class="apk MWP"></span><strong>MPV's 8.3:</strong> <a target="_blank" href="https://www.celsoazevedo.com/files/android/google-camera/dev-MWP/f/dl22/">Gcam_8.3.252_V2.0c_MWP</a> (MWP, 2022-03-27, <span class="apknote">pixel</span>)</li>
    </ul>