<br>
<strong>GCam Apk download links: </strong>
<ul>
    <li id="rec02"><span class="apk bsg"></span><strong>BSG v4.0</strong>: <a target="_blank" href="https://www.celsoazevedo.com/files/android/google-camera/f/changelog1392/">Download GCam MGCB_7.0H_C2API_v.4.0_AllinOne_Full_Manual.apk</a> (BSG, 2017-09-27)</li>
    <li id="rec03"><span class="apk ivanich"></span><strong>ivanich v1.4_v3</strong>: <a target="_blank" href="https://f.celsoazevedo.com/file/gcamera/MGCB_7.0H_C2API_Full_PXL2_v.1.4_60FPS_noburst_v3.apk">Download GCam MGCB_7.0H_C2API_Full_PXL2_v.1.4_60FPS_noburst_v3.apk</a> (ivanich, 2017-08-27, <span class="apknote">android 7 only</span>)</li>
</ul>