<p>As you have a very old version of Android, a GCam go version will be the best for your phone. Otherwise it may be too heavy software for you old android phone.</p>
<br>
<p>When it comes to GCam go, these two seem to be the best ones so far:</p>
<ul class="listapks">
    <li><span class="apk greatness"></span><a target="_blank" href="https://www.celsoazevedo.com/files/android/google-camera/dev-greatness/f/dl9/">Download GCam CameraGo_2.5_Greatness_Special-2</a> (Greatness, 2021-09-24, <span class="apknote">gcam go</span>)</li>
    <li><span class="apk Shamim"></span><a target="_blank" href="https://www.celsoazevedo.com/files/android/google-camera/dev-shamim/f/dl14/">Download GCAMGO_3.3.439_SHAMIM_V1</a> (Shamim, 2022-05-13, <span class="apknote">gcam go</span>)</li>
</ul>
<br>
<p>If the APKs above don't work well for you, test the following ones:</p>
<ul>
    <li><span class="apk Wichaya"></span><a target="_blank" href="https://www.celsoazevedo.com/files/android/google-camera/f/changelog1439/">Download GCam Camera_Go_1.8.3_Wichaya.apk</a> (Wichaya, 2020-10-07, <span class="apknote">gcam go</span>)</li>
    <li><span class="apk Shamim"></span><a target="_blank" href="https://www.celsoazevedo.com/files/android/google-camera/dev-shamim/f/dl9/">Download GCAMGO_2.12.422_SHAMIM_V5</a> (Shamim, 2022-03-22, <span class="apknote">gcam go</span>)</li>
    <li><span class="apk greatness"></span><a target="_blank" href="https://www.celsoazevedo.com/files/android/google-camera/dev-greatness/f/dl6/">Download CameraGo_2.5_Greatness_210725_2109</a> (Greatness, 2021-07-25, <span class="apknote">gcam go</span>)</li>
    <li><span class="apk greatness"></span><a target="_blank" href="https://www.celsoazevedo.com/files/android/google-camera/f/changelog1447/">Download GCamGo_GreatnessNS2.apk</a> (Greatness, 2020-10-20, <span class="apknote">gcam go</span>)</li>
    <li><span class="apk greatness"></span><a target="_blank" href="https://www.celsoazevedo.com/files/android/google-camera/f/changelog1529/">Download AUX_GcamGo_1.11_Greatness.apk</a> (Greatness, 2021-01-30, <span class="apknote">gcam go</span>)</li>
</ul>